@import url("../main.css");

.incoming {
    background: #e6cdff;
    border: solid 1px #a37Acc;
}
.incoming:before {
    border-color: transparent #a37acc;
}
.incoming:after {
    border-color: transparent #e6cdff;
}
.outgoing {
    background: #eee;
    border: solid 1px #ccc;
}
.outgoing:before {
    border-color: transparent #ccc;
}
.outgoing:after {
    border-color: transparent #eee;
}
.alt {
    right: .5em;
}
.in{
    left: .5em;
}
.incoming {
    float: right;
}
.incoming:before {
    -webkit-transform:scale(-1,1);
    left: 100%;
    right: -1px;
}
.incoming:after {
    -webkit-transform:scale(-1,1);
    left: calc(100% - 2px);
}
