@import url("../main.css");

.incoming {
    background: #99bbff;
    border: solid 1px #657ba8;
}
.incoming:before {
    border-color: transparent #657ba8;
}
.incoming:after {
    border-color: transparent #99bbff;
}
.outgoing {
    background: #ccff99;
    border: solid 1px #99ff66;
}
.outgoing:before {
    border-color: transparent #99ff66;
}
.outgoing:after {
    border-color: transparent #ccff99;
}
