@import url("../main.css");

.incoming {
    background: #99bbff;
    border: solid 1px #657ba8;
}
.incoming:before {
    border-color: transparent #657ba8;
}
.incoming:after {
    border-color: transparent #99bbff;
}
.outgoing {
    background: #ffff99;
    border: solid 1px #cccc7a;
}
.outgoing:before {
    border-color: transparent #cccc7a;
}
.outgoing:after {
    border-color: transparent #ffff99;
}
