@import url("../main.css");

.incoming {
    background: #99bbff;
    border: solid 1px #657ba8;
}
.incoming:before {
    border-color: transparent #657ba8;
}
.incoming:after {
    border-color: transparent #99bbff;
}
.outgoing {
    background: #e6cdff;
    border: solid 1px #a37acc;
}
.outgoing:before {
    border-color: transparent #a37acc;
}
.outgoing:after {
    border-color: transparent #e6cdff;
}
