@import url("../main.css");

.incoming {
    background: #99bbff;
    border: solid 1px #657ba8;
}
.incoming:before {
    border-color: transparent #657ba8;
}
.incoming:after {
    border-color: transparent #99bbff;
}
.outgoing {
    background: #eee;
    border: solid 1px #ccc;
}
.outgoing:before {
    border-color: transparent #ccc;
}
.outgoing:after {
    border-color: transparent #eee;
}
